html, body {
  height: 100%;
  margin: 0;
  background: #e7d6d630;
}

.background-bar{
  background: rgb(1, 27, 66);
}

section {
  min-height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* igual al largo del footer */
}

.button-submit{
  width: 100%;
}
aside{
  padding-top: 2%;
}

.container{
  background: #fff;
}

.tittle {
  padding-top: 0%;
  font-family: 'Exo 2', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
}

.logo {
  display: inline-block;
  max-width:100%;
  width:auto;
  height: auto;
}

.active {
  font-weight: bold;
  color: white;
}

input[type=text]:focus {
  border: 3px solid #555;
}

footer {
  background: #061D25;
  padding-top: 2%;
  font-family: 'Exo 2', sans-serif;
}

footer a {
  color: white;
  font-size: 20px;
  padding: 0%;
  transition: all .5s ease;
}

.imgHome {
  float: left;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 50%;
}

.imgTitulares {
  float: left;
  margin-top: 30%;
  margin-bottom: 20%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-top: 30%;
  margin-bottom: 20%;
}
.embed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.map-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-item {
  background: #eaeaea;
  margin-bottom: 16px
}

.webpage-link {
  color: #333;
}

.webpage-link:hover {
  text-decoration: none
}

.content-headline {
  display: block
}

.webpage-link:hover .content-headline {
  text-decoration: underline
}

.content-item .content-meta {
  color: #999;
  font-size: .8571em;
  line-height: 1.6667em;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.content-item .content-meta .content-type {
  color: #feb827
}

.content-item .calendar-date {
  display: block;
  background: rgb(1, 27, 66);
  width: 125px;
  height: 125px;
  float: left;
  text-decoration: none
}

.content-item .calendar-date .day {
  font-family: 'Open Sans';
  display: block;
  padding: 15px 10px 0;
  font-size: 5em;
  line-height: 1em;
  color: rgb(42, 180, 204);
  text-align: center
}

.content-item .calendar-date .month {
  display: block;
  padding: 0 10px;
  font-size: 1.2em;
  color: #fff;
  text-align: center
}

.content-grey {
  background: #595959;
  color: #fff
}

.content-grey .content-meta {
  color: #999
}

.content-grey .webpage-link {
  color: #fff
}

.content-sml .content-thumb {
  display: block;
  float: left;
  width: 125px
}

.content-sml .content-info {
  margin: 0 0 0 125px;
  padding: 20px;
  display: block
}

.content-sml .content-headline {
  padding: 0;
  margin: 0;
  font-size: 1.1429em;
  line-height: 1.5em
}

.content-mini {
  padding: 20px
}

.content-mini .content-headline {
  padding: 5px 0 0;
  margin: 0;
  font-size: 1.1429em;
  line-height: 1.5em;
  font-weight: normal
}

.grouped-content {
  margin-bottom: 16px
}

.grouped-content .content-item {
  margin-bottom: 8px
}

.events-header {
  padding: 20px 20px 16px;
  margin: 0 0 8px;
  background: rgb(1, 27, 66);
  color: #fff;
  font-size: 1.8em;
  font-weight: normal;
  position: relative;
}

.events-header:after {
  position: absolute;
  top: 100%;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid rgb(1, 27, 66);
  content: ' '
}

.clear {
  clear: both;
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 200px 0
  }
  to {
    background-position: 0 0
  }
}

@keyframes animatedBackground {
  from {
    background-position: 200px 0
  }
  to {
    background-position: 0 0
  }
}

@media screen and (max-width: 767px) {
  .tittle {
    padding-top: 0%;
    font-family: 'Exo 2', sans-serif;
    font-size: 2em;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .tittle {
    padding-top: 0%;
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .tittle {
    padding-top: 0%;
    font-family: 'Exo 2', sans-serif;
    font-size: 2em;
    text-align: center;
  }
}

