
.tittle{
    padding-top: 25%;
    font-family: 'Exo 2', sans-serif;
}

.logo{
  display: block;
  max-width: none !important;
}

.active{
    font-weight: bold;
    color:white;
}

.footer {
    background: #061D25;
    padding: 10px 0;
    font-family: 'Exo 2', sans-serif;
  }
  .footer a {
    color: white;
    font-size: 20px;
    padding: 5px;
    transition: all .5s ease;
  }
  